@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


h1, h2, h3, h4, h5, h6 {
  @apply font-sf
}
body {
  font-family: "Nunito", sans-serif ;
}

.services {
  background-image: url("../public/services.png");
  @apply bg-center bg-no-repeat
}

@layer utilities {

  .btn-orange { 
    @apply  bg-orange-10 lg:px-7 lg:py-3 font-medium px-5 py-2 text-white-10 transition-all hover:opacity-90 border-orange-10 rounded-md
  }
  .btn-orange-outline  { 
    @apply border-orange-10 text-base lg:text-lg lg:px-8 lg:py-3 text-orange-10 font-medium  bg-transparent px-5 py-2 transition-all hover:border-2 rounded-md
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .contact-form::before {
    content: "";
    @apply w-[1px] h-full absolute left-0 right-0 m-auto bg-lightGray-10 hidden md:block
  
  }
  .contact-form::after {
    content: "";
    @apply w-full h-[1px] absolute left-0 bg-lightGray-10 -bottom-16 hidden md:block
  
  }
  .web-dev-list {
    @apply flex items-center gap-2 mb-2
  }
  .faq {
    margin: 15px;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .faq-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;
    transition: all 0.4s ease;
  }
}
.faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faq.open .faq-question {
  margin-bottom: 15px;
}
.faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
.add-shadow {
  box-shadow: 10px 20px 30px rgba(243, 115, 53, 0.1), -10px 20px 20px rgba(243, 115, 53, 0.2);
}

.services-img::before {
  content: "";
  @apply w-full h-full absolute top-0 left-0 bg-black-10 bg-opacity-50 z-10
}
.mobile-menu-button {
  @apply flex items-center justify-center w-8 h-8 bg-gray-200 hover:bg-gray-300 rounded-full;
}

.mobile-menu-button svg {
  @apply w-6 h-6 stroke-current;
}

/* Mobile menu functionality */
.mobile-menu-button:checked ~ .mobile-menu {
  @apply block;
}

.mobile-menu {
  @apply hidden p-4 pt-0 bg-gray-100 rounded-md shadow-md;
}

.mobile-menu a {
  @apply block p-4 text-sm text-gray-600 hover:text-gray-900;
}